{% extends 'base.html' %}

{% block body %}
{% if extends %}
<div class="table-responsive col-md-offset-1 col-md-10">
    <br>
{{ pagination.links }}
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th width="8%">#</th>
            <th width="8%">QA_ID</th>
            <th width="8%">EX_ID</th>
            <th width="15%">关键词</th>
            <th width="8%">OMIT</th>
            <th width="15%">同义词</th>
            <th width="8%">删除同义词</th>
        </tr>
        </thead>
        <tbody>
        {% for extend in extends %}
        <tr>
            <td width="8%">{{ loop.index + (page - 1) * per_page }}</td>
            <td width="8%">
                {% if extend.qa_id %}
					{{ extend.qa_id }}
				{% else %}
                {% endif %}
			</td>
            <td width="8%">
			{{ extend.ex_id }}</td>
            <td width="15%">{{ extend.item }}</td>
            <td width="8%">{{ extend.omit }}</td>
            <td width="15%">
                {% if extend.synonym %}
                {{ extend.synonym }}
            </td>
            <td>
                <button type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove"></span>Delete</button>
                {% else %}
            </td>
            <td>
                <button type="button" class="btn btn-danger" disabled="disabled">
					<span class="glyphicon glyphicon-remove"></span>Delete</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{{ pagination.links }}
</div>
{% endif %}
{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#users-url').addClass('active');
{% endif %}
{% endblock %}
