{% extends 'base.html' %}

{% block body %}
{% if keywords %}

{% for keyword in keywords %}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/keyword/list/{{ keyword.id-1 }}"><span aria-hidden="true">&larr;</span> 上一个</a></li>
	<li class="search"><a href="/keyword/search/"><span class="glyphicon " ></span>search</a></li>
	<li class="edit"><a href="/keyword/edit/{{ keyword.id }}"><span class="glyphicon glyphicon-edit" ></span>编辑</a></li>
	<li class="add"><a href="/keyword/add/"><span class="glyphicon " ></span>ADD</a></li>
	<li class="delete"><a href="/keyword/delete/{{ keyword.id }}"><span class="glyphicon glyphicon-remove" ></span>删除</a></li>
	<li class=" "> </li>
	<li class="update"><a href="/keyword/update/{{ keyword.id }}"><span class="glyphicon " ></span>Update</a></li>
	<li class="view"><a href="/keyword/view/{{ keyword.id }}"><span class="glyphicon " ></span>View</a></li>
    <li class="next"><a href="/keyword/list/{{ keyword.id+1 }}">下一个 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>

<div class="col-md-offset-2 col-md-6">
	<dl class="dl-horizontal">
		<dt> ID:</dt>
		<dd> {{ keyword.id }} </dd>
		<br>
		<dt> QA_ID: </dt>
		<dd> {{ keyword.qa_id }} </dd>
		<br>
		<dt> Extend_ID: </dt>
		<dd> {{ keyword.ex_id }} </dd>
		<br>
		<dt> 关键词: </dt>
		<dd> {{ keyword.keyword }} </dd>
		<br>
		<dt> 关键词权重: </dt>
		<dd> {{ keyword.importance }} </dd>
		<br>
		<dt> synonym: </dt>
		<dd> {{ keyword.synonym }} </dd>
	</dl>
</div>

{% endfor %}

{% endif %}
{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#index-url').addClass('active');
{% endif %}
{% endblock %}
