{% extends 'base.html' %}
{% block body %}
<br>
<form class="form-horizontal" action="{{ url_for('segment') }}" method="post" class="segment">
    <div class="form-group">
        <label for="sentence" class="col-md-2 control-label">输入语句:</label>
        <div class="col-md-5">
            <input type="text" class="form-control" id="sentence" placeholder="sentence" name="sentence">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-info">分词</button>
        </div>
    </div>
</form>
<br>

{% if segmented %}
	<dl class="dl-horizontal col-md-5 col-md-offset-1">
		<dt> 语 句:</dt>
		<dd> {{ sentence }} </dd>
		<br>
		<dt> 分 词:</dt>
        {% for segmented1 in segmented %}
			<dd> {{ segmented1 }} </dd>
		{% endfor %}
		<br>
		<dt> 分 析:</dt>
        {% for analyse1 in analyse %}
			<dd> {{ analyse1 }} </dd>
		{% endfor %}
	</dl>
{% endif %}

{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#segment-url').addClass('active');
{% endif %}
{% endblock %}

