{% extends 'base.html' %}
{% block body %}
<form action="{{ url_for('segment') }}" method="post" class="segment">
    <dl>
        <dt>提问:
        <dd><input type="text" size="50" name="question">
        <dt>系统回答:
        <dd><textarea name="answer" rows="5" cols="50"></textarea>
        <dd><input type="submit" value="输入">
    </dl>
</form>
{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#segment-url').addClass('active');
{% endif %}
{% endblock %}

