{% extends 'base.html' %}

{% block body %}
{% if knowledges %}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/knowledge/edit/{{ knowledge.id-1 }}"><span aria-hidden="true">&larr;</span> 上一个</a></li>
	<li class="search"><a href="/knowledge/search/"><span class="glyphicon " ></span>search</a></li>
	<li class="edit"><a href="/knowledge/edit/{{ knowledge.id }}"><span class="glyphicon glyphicon-edit" ></span>编辑</a></li>
	<li class="add"><a href="/knowledge/add/"><span class="glyphicon " ></span>ADD</a></li>
	<li class="delete"><a href="/knowledge/delete/{{ knowledge.id }}"><span class="glyphicon glyphicon-remove" ></span>删除</a></li>
	<li class=" "> </li>
	<li class="update"><a href="/knowledge/update/{{ knowledge.id }}"><span class="glyphicon " ></span>Update</a></li>
	<li class="view"><a href="/knowledge/view/{{ knowledge.id }}"><span class="glyphicon " ></span>View</a></li>
    <li class="next"><a href="/knowledge/edit/{{ knowledge.id+1 }}">下一个 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
	<dl class="dl-horizontal col-md-offset-1">
		<dt> ID:</dt>
		<dd> {{ knowledge.id }} </dd>
	</dl>
{% endif %}

<br>
<form class="form-horizontal" action="{{ url_for('add') }}" method="post">
    <div class="form-group">
        <label for="question" class="col-md-2 control-label"> Question: </label>
        <div class="col-md-8">
            <textarea class="form-control" name="question" rows="5"> 标准问题</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="answer" class="col-md-2 control-label">Answer: </label>
        <div class="col-md-8">
            <textarea class="form-control" name="answer" rows="10"> 标准答案 </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <button type="submit" class="btn btn-info">增加</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#index-url').addClass('active');
{% endif %}
{% endblock %}
