{% extends 'base.html' %}

{% block body %}
{% if knowledges %}

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="/knowledge/edit/{{ knowledge.id-1 }}"><span aria-hidden="true">&larr;</span> 上一个</a></li>
	<li class="search"><a href="/knowledge/search/"><span class="glyphicon " ></span>search</a></li>
	<li class="edit"><a href="/knowledge/edit/{{ knowledge.id }}"><span class="glyphicon glyphicon-edit" ></span>编辑</a></li>
	<li class="add"><a href="/knowledge/add/"><span class="glyphicon " ></span>ADD</a></li>
	<li class="delete"><a href="/knowledge/delete/{{ knowledge.id }}"><span class="glyphicon glyphicon-remove" ></span>删除</a></li>
	<li class=" "> </li>
	<li class="update"><a href="/knowledge/update/{{ knowledge.id }}"><span class="glyphicon " ></span>Update</a></li>
	<li class="view"><a href="/knowledge/view/{{ knowledge.id }}"><span class="glyphicon " ></span>View</a></li>
    <li class="next"><a href="/knowledge/edit/{{ knowledge.id+1 }}">下一个 <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
{% endif %}

<br>
<form class="form-horizontal" action="{{ url_for('search') }}" method="post">
    <div class="form-group">
        <label for="keyword" class="col-md-offset-1 col-md-1 control-label">问题或问题关键字:</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="keyword" placeholder="keyword">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-info">搜索</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
{% if active_url %}
$('#{{ active_url }}').addClass('active');
{% else %}
$('#index-url').addClass('active');
{% endif %}
{% endblock %}
